<h1>Contact Me</h1>
<div class="row">
  <div class="col-md-4">
    <h4>Phone</h4>
    <p>Ring ring ring</p>
  </div>
  <div class="col-md-4">
    <h4>E-mail</h4>
    <p>bshively@gmail.com</p>
  </div>
  <div class="col-md-4">
    <h4>Smoke Signal</h4>
    <div class="alert alert-danger">Where there's smoke, there's fire.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
  </div>
</div>